<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="supermercadoEcommerce.br.unitins.supercommerce.application.GlobalInformation" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="supermercadoEcommerce.br.unitins.supercommerce.application.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AtendeClienteServiceSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="AtendeClienteServiceSoapBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://apps.correios.com.br/SigepMasterJPA/AtendeClienteService/AtendeCliente"
                binding="basicHttpBinding" bindingConfiguration="AtendeClienteServiceSoapBinding"
                contract="WSCorreios.AtendeCliente" name="AtendeClientePort" />
        </client>
    </system.serviceModel>
    <userSettings>
        <supermercadoEcommerce.br.unitins.supercommerce.application.GlobalInformation>
            <setting name="nome" serializeAs="String">
                <value>Usuario</value>
            </setting>
            <setting name="email" serializeAs="String">
                <value>Email</value>
            </setting>
            <setting name="userId" serializeAs="String">
                <value>0</value>
            </setting>
        </supermercadoEcommerce.br.unitins.supercommerce.application.GlobalInformation>
        <supermercadoEcommerce.br.unitins.supercommerce.application.Settings1>
            <setting name="nome" serializeAs="String">
                <value />
            </setting>
            <setting name="email" serializeAs="String">
                <value />
            </setting>
        </supermercadoEcommerce.br.unitins.supercommerce.application.Settings1>
    </userSettings>
</configuration>